/* Header Styles */
#main-header {
    background-color: #637a76b1;
    display: float;
    padding: 50px;
    color: #070303;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
}

/* Logo Styles */
.logo {
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    float: left;
    font-weight: bolder;
    color: rgb(6, 6, 6);
}

.logo:hover {
    color: aqua;
}

/*.header-right a {
    
    margin: 0;
    padding: 0;
    overflow: hidden;
}*/

#header-right a:hover {
        color: aqua;
    }

#header-right a {
    display: block;
    float: right;
    color: rgb(6, 6, 6);
    text-decoration: none;
    font-weight: bolder;
    padding-bottom: 50px;
    padding-top: 0px;
    padding-right: 20px;
    }
  
  /* Change the link color to #111 (black) on hover */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

#main-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
}

/* Carousel Section Styles */
#carousel {
    margin-bottom: 20px;
}

/* Search Bar Section Styles */
#search-container {
    background-color: #dfe6e6d5;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-form {
    display: flex;
}

#search-bar {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
}

#search-btn {
    background-color: #637a76b1;
    color: #080202;
    border: none;
    padding: 15px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

/* Search Results Section Styles */
#search-results {
    background-color: #8d8282;
    padding: 90px;
    border-radius: 5px;
    font-size: larger;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
    text-align: center;
    position:relative;
    display: block;
    margin: 0;
    margin-top: 100px;
    padding-bottom: 20px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #637a76b1;
    color: #070303;
    font-weight: bolder;
    font-size: larger;
}

.flash-messages {
       font-family:sans-serif;
       color: rgb(65, 185, 225);
       font-size: larger;
} 

/* Responsive Styles */
@media screen and (max-width: 600px) {
    #main-header a {
        text-align: center;
    }

    #main-header a {
        display: block;
        margin: 10px 0;
    }

    #search-form {
        flex-direction: column;
    }

    #search-bar {
        border-radius: 3px 3px 0 0;
        margin-bottom: 10px;
    }

    #search-btn {
        border-radius: 0 0 3px 3px;
    }


}
