{% extends 'user_dashboard.html' %}

{% block title %}Contact Us{% endblock %}

{% block styles %}
    <!-- Add specific styles for the contact_us page if needed -->
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}

{% block content %}
  <section id="About">
    <h2>About CmapusXplorer</h2>
    <p><h3>CampusXplorer is a web application that allows users to explore the campuses of all the tertiary instituitons in Nigeria. It provide users with easy means of locating campuses within their preferred States including the Federal Capital Teritory.
      It featues a stuning user interface for user to register and login after which they can access the query page. A user only has to input the name of a state in a search bar and the list of all the institutions in that particular state is displayed. Clicking on the name of institutions displayed, provides  detailed information about the instituion including their accredited courses, fees, campus life, location, admission progress, admission requirements, facilities, etc. which would definitely guide users to make informed and execellent choices inline with their career goals.
      <br> All rights reserved.</p>
{% endblock %}
    