<!-- login Form-->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block styles %}
    <!-- Add specific styles for the contact_us page if needed -->
    <!--link rel="stylesheet" href="{{ url_for('static', filename='contact_us.css') }}"-->
{% endblock %}

{% block content %}
    <section id="contact-form">
        <h2>Login</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ form.email.label }} {{ form.email(size=20) }}<br>
            {{ form.password.label }} {{ form.password(size=20) }}<br>
            {{ form.submit() }}
        </form>
    </section>
{% endblock %}

