{% extends 'user_dashboard.html' %}

{% block title %}Registration{% endblock %}

{% block styles %}
    <!-- Add specific styles for the contact_us page if needed -->
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
{% endblock %}

{% block content %}
<section id="Registration">
    <h2>Registration</h2>
    <form method="post" action="/register">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ form.first_name.label }} {{ form.first_name() }}
        {{ form.last_name.label }} {{ form.last_name() }}
        {{ form.username.label }} {{ form.username() }}
        {{ form.email.label }} {{ form.email() }}
        {{ form.password.label }} {{ form.password() }}
        {{ form.confirm_password.label }} {{ form.confirm_password() }}
        {{ form.submit() }}
    </form>
</section>
{% endblock %}
